body {
  align-content: center;
  background-color: black;
  color: paleturquoise;
  font-family: "Langar", cursive;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 260px;
}

h2 {
  font-size: 60px;
  text-transform: uppercase;
}

input {
  font-size: 20px !important;
}

.input-group-text {
  background-color: mintcream !important;
  outline: none !important;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-control {
  height: 63px;
  outline: none;
  width: 350px;
}
